/* CSS files add styling rules to your content */

body {
  font-family: Ubuntu, arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  color: white;
  font: 75px Ubuntu;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

#gameholder {
  position: absolute;
  top: 30%;
  left: 35%;
}


#playernameinput {
  border: 1px solid #000000;
  color: white;
  font: 50px Ubuntu;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  width: 90%;
  height: 30%;
  text-align: center;
  font: 30px Ubuntu;
  background: transparent;
}
